ANTHROPIC_API_KEY="api-key"
ASYNC_DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/mealprep"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mealprep"
HOT_RELOAD="true"
JINA_API_KEY="api-key"
LANGFUSE_BASE_URL="https://us.cloud.langfuse.com"
LANGFUSE_PUBLIC_KEY="public-key"
LANGFUSE_SECRET_KEY="secret-key"
SESSION_SECRET_KEY="secret-key"
TELEGRAM_BOT_TOKEN="token"
VOYAGE_API_KEY="api-key"
